<div ng-switch="model.widget.type">
    <div ng-if="model.widget.type">
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/widget-image.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/widget-youtube.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/widget-heading.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/widget-text.view.client.html'"></ng-include>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid  text-blue">
        <div class="pull-right">
            <p class="navbar-text no-right-padding ">
                <a ng-href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user text-white right-padding"></span>
                </a>
            </p>
        </div>
    </div>
</nav>