<nav class="navbar navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid text-blue">
        <a class="navbar-brand no-left-padding">
            <b class="text-white left-padding">Home</b>
        </a>
    </div>
</nav>

<div class="col-sm-2 col-xs-3 top-padding vertical-line">
    <div class ="row left-padding">
        <div class="profile-userpic">
            <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(model.user.profilePic)}}">
        </div>
    </div>
    <div class="row left-padding">
        <strong>{{model.user.firstName}} {{model.user.lastName}}</strong>
        <br>
        <strong>{{model.user.username}}</strong>
        <br>
        <strong>{{model.user.email}}</strong>
        <br>
    </div>
    <div class="row">
        <a ng-href="#/user/account/{{model.user._id}}"
           class="btn btn-primary ">
            <strong>Edit</strong>
        </a>
        <a ng-click="model.logout()"
           class="btn btn-danger ">Logout</a>
    </div>
    <div class="row">
        <h4><strong>{{model.user.username}}</strong>'s Friends</h4>
        <div ng-repeat="friend in model.friends ">
            <div class="row left-padding bottom-padding">
                <div class="profile-userpic-friend">
                    <a href=""
                       ng-click="model.userRelationship(friend._id)">
                        <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(friend.profilePic)}}">
                    </a>
                    <a href=""
                       ng-click="model.userRelationship(friend._id)">
                        <strong class="left-padding">{{friend.username}}</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-padding col-sm-7 col-xs-9 vertical-line">
    <div class="row left-padding">
        <form action="form-control">
            <div class="input-group">
                <input  ng-model="model.searchTerm" placeholder="Search for an item with EBay API."
                        type="text" class="form-control">
                <span class="input-group-btn">
                    <a ng-click="model.searchEBay(model.searchTerm)"
                       class="btn btn-default" type="button">Search</a>
                </span>
                </input>
            </div>
        </form>
    </div>

    <div class="row">
        <div class = "top-padding left-padding">
            <div ng-repeat="item in model.items">
                <p class="bottom-padding left-padding">
                <div class="row">
                    <div class="col-xs-5">
                        <a href = {{item.viewItemURL[0]}} target="_blank">
                            <img ng-src="{{model.checkSafeImage(item.galleryURL[0])}}">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <ul class="list-group">
                            <li class="list-group-item">{{item.title[0]}}</li>
                            <li class="list-group-item">{{item.subtitle[0]}}</li>
                            <li class="list-group-item">{{item.location[0]}}</li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

    <div class="row bottom-padding left-padding top-padding">
        <h4>Comments made by you</h4>
        <div ng-repeat="comment in model.comments ">
            <div class="row left-padding bottom-padding">
                {{comment.comment}}
            </div>
        </div>
        <h4>Your friends posted on your wall</h4>
        <div ng-repeat="com in model.commentsReceived ">
            <div class="row left-padding bottom-padding">
                {{com.comment}}
            </div>
        </div>




    </div>
</div>

<div class="col-sm-3 hidden-xs top-padding">
    <h4> Active Users </h4>
    <div ng-repeat="allUser in model.users">
        <div class="row left-padding bottom-padding ">
            <div class="profile-userpic-friend">
                <a href="" ng-click='model.userRelationship(allUser._id)'>
                    <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(allUser.profilePic)}}">
                </a>
                <a href="" ng-click='model.userRelationship(allUser._id)'>
                    <strong class="left-padding">{{allUser.username}}</strong>
                </a>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid text-blue">
        <p class="navbar-text pull-right">
            <a ng-href="#/user/{{model.user._id}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-white">
                </span>
            </a>
        </p>
    </div>
</nav>