body {
    padding-top: 36px;
    overflow-x: hidden;
    padding-bottom: 50px;
}

a {
    text-decoration: none !important;
}

.text-white {
    color: white;
}

.text-blue {
    background-color: #337ab7;
}

.full-width {
    width: 100%;
}

.form-control {
    margin-bottom: 5px;
}

.top-padding {
    margin-top: 25px;
}


.top-image-padding {
    margin-top: 200px;
}

.bottom-padding {
    margin-bottom: 10px;
}

.bottom-margin {
    padding-bottom: 100px;
}

.right-padding {
    margin-right: 15px;
}

.left-padding {
    margin-left: 12px;
}


.double-left-padding {
    margin-left: 30px;
}
.no-left-padding {
    padding-left: 0px !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.vertical-line {
    border-right:1px solid gray;
    height:100% !important;
    min-height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.float-items {
    top: 0px;
    right: 0px;
    background-color: white;
    z-index: 100;
}

.no-left-margin {
    margin-left: 0px;
}

.no-right-margin {
    margin-right: 0px;
}

.margin-right-30 {
    margin-right: 30px;
}

.displayNone {
  display: none
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 5% !important;
    -moz-border-radius: 5% !important;
    border-radius: 5% !important;
}

.profile-userpic-friend img {
    float: none;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    -webkit-border-radius: 5% !important;
    -moz-border-radius: 5% !important;
    border-radius: 5% !important;
}