<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid text-blue">
        <p class="navbar-text full-width">
            <a ng-href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left text-white"></span>
            </a>
            <b class="left-padding text-white">Widget Chooser</b>
        </p>
    </div>
</nav>

<div class="container-fluid ">
    <div class="navbar-text top-padding">

        <div class = "row bottom-padding left-padding">
            <a ng-click="model.createWidget('HTML')"
               class="btn btn-link">HTML</a>
        </div>
        <div class = "row bottom-padding left-padding">
            <a ng-click ="model.createWidget('IMAGE')"
               class="btn btn-link">Image</a>
        </div>
        <div class = "row bottom-padding left-padding">
            <a ng-click="model.createWidget('YOUTUBE')"
               class="btn btn-link">Youtube</a>
        </div>
        <div class = "row bottom-padding left-padding">
            <a ng-click="model.createWidget('TEXT')"
               class="btn btn-link">Text</a>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid  text-blue">
        <div class="pull-right">
            <p class="navbar-text no-right-padding ">
                <a ng-href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user text-white right-padding"></span>
                </a>
            </p>
        </div>
    </div>
</nav>