<nav class="navbar navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid text-blue">
        <p class="navbar-text full-width">
            <a ng-href="#/user/{{model.user._id}}"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left text-white"></span>
            </a>
            <b class="left-padding text-white">Friends</b>
        </p>
    </div>
</nav>

<div class="col-sm-2 col-xs-3 top-padding vertical-line">
    <div class ="row left-padding">
        <div class="profile-userpic">
            <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(model.user.profilePic)}}">
        </div>
    </div>
    <div class="row left-padding">
        <strong>{{model.user.firstName}} {{model.user.lastName}}</strong>
        <br>
        <strong>{{model.user.username}}</strong>
        <br>
        <strong>{{model.user.email}}</strong>
    </div>
    <div class="row">
        <a ng-href="#/user/account/{{model.user._id}}"
           class="btn btn-primary ">
            <strong>Edit</strong>
        </a>
        <a ng-click="model.logout()"
           class="btn btn-danger ">Logout</a>
    </div>
</div>

<div class="top-padding col-sm-7 col-xs-9 bottom-margin vertical-line">
    <div class="row left-padding">
        <div class ="row ">
            <div class="profile-userpic-visiting">
                <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(model.view.profilePic)}}">
            </div>
        </div>
        <div class="row bottom-padding">
            <a ng-click="model.removeFriend()"
               class="btn btn-danger  top-padding ">Remove Friend</a>
        </div>
        <div class="row top-padding">
            <span class="glyphicon glyphicon-user">
                <strong>{{model.view.firstName}} {{model.view.lastName}}</strong>
                </span>
            <br>
            <span class="glyphicon glyphicon-barcode">
             <strong>{{model.view.username}}</strong>
            </span>
            <br>

            <span class="glyphicon glyphicon-envelope">
                  <strong>{{model.view.email}}</strong>
            </span>
            <br>

            <span class="glyphicon glyphicon-phone-alt">
             <strong>{{model.view.phone}}</strong>
            </span>

        </div>
    </div>


    <div class="row bottom-padding left-padding top-padding">
        <p>Comments Section</p>
        <form action="form-control">
            <div class="input-group">
                <input  ng-model="model.commentString" placeholder="Add a comment."
                        type="text" class="form-control">
                <span class="input-group-btn">
                    <a ng-click="model.addComment(model.commentString)"
                       class="btn btn-default btn-block" type="button">Add Comment</a>
                </span>
                </input>
            </div>
        </form>
    </div>

    <div class="row bottom-padding">
        <div ng-repeat="comment in model.comments ">
            <div class="row left-padding bottom-padding">
                {{comment.comment}}
            </div>
        </div>
    </div>
</div>

<div class=" col-sm-3 hidden-xs">
    <h3><strong>{{model.view.username}}</strong>'s Friends</h3>
    <div ng-repeat="friend in model.friends ">
        <div class="row left-padding bottom-padding">
            <div class="profile-userpic-friend">
                <a href=""
                   ng-click="model.userRelationship(friend._id)">
                    <img class="img-responsive pull-left double-left-padding" ng-src="{{model.checkSafeImage(friend.profilePic)}}">
                </a>

                <a href=""
                   ng-click="model.userRelationship(friend._id)">
                    <strong class="left-padding">{{friend.username}}</strong>
                </a>

            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid text-blue">
        <p class="navbar-text pull-right">
            <a ng-href="#/user/{{model.user._id}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-white">
                </span>
            </a>
        </p>
    </div>
</nav>